:root {
  --blinkColor: black;
  --maxContentWidth: 85ch;
  --backgroundColorDark: #111111;
  --backgroundColorLight: #ffffff;
  --backgroundColor: var(--backgroundColorLight);
  --textColorLight: #585757;
  --textColorDark: #b8b8b8;
  --selectionColorDark: #003666;
  --selectionColorLight: #a3d2ff;
  --selectionColor: var(--selectionColorLight);
  --shadow: #161b3d1a;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html.light {
  /* light theme styles */
  background-color: var(--backgroundColorLight);
  --backgroundColor: var(--backgroundColorLight);
  color: var(--textColorLight);
  --blinkColor: var(--textColorLight);
  --selectionColor: var(--selectionColorLight);
}

html.dark {
  /* dark theme styles */
  background-color: var(--backgroundColorDark);
  --backgroundColor: var(--backgroundColorDark);
  color: var(--textColorDark);
  --blinkColor: var(--textColorDark);
  --selectionColor: var(--selectionColorDark);
}

* {
  margin: 0;
  &::selection {
    background-color: var(--selectionColor);
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--backgroundColor);
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: var(--blinkColor);
  font-weight: 600;
}

header {
  z-index: 5;
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  max-width: var(--maxContentWidth);
  padding: 2rem max(calc((100vw - var(--maxContentWidth)) / 2), 1rem);
  background-color: inherit;
  transition: box-shadow 0.3s ease;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  &.elevated {
    box-shadow: 0 2px 5px 1px var(--shadow);
    backdrop-filter: blur(5px);
  }
}
main {
  max-width: var(--maxContentWidth);
  padding: 10rem max(calc((100vw - var(--maxContentWidth)) / 2), 1rem);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--blinkCursor);
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--blinkCursor);
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--blinkCursor);
  }
}

@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--blinkCursor);
  }
}

@-o-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--blinkCursor);
  }
}
