---
import "../styles/global.css";
import Switch from "../components/Switch.astro";
---

<div class="layout">
  <main class="header">
    <h1 class="heading">mzml<span class="blinking-cursor">_</span></h1>
    <div class="switch">
      <Switch />
    </div>
  </main>
</div>

<style is:global>
  .layout {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
  }
  .header {
    width: 85ch;
    position: fixed;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
  }
  .heading {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  .blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2e3d48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }

  @keyframes "blink" {
    from,
    to {
      color: transparent;
    }
    50% {
      color: var(--blinkCursor);
    }
  }

  @-moz-keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: var(--blinkCursor);
    }
  }

  @-webkit-keyframes "blink" {
    from,
    to {
      color: transparent;
    }
    50% {
      color: var(--blinkCursor);
    }
  }

  @-ms-keyframes "blink" {
    from,
    to {
      color: transparent;
    }
    50% {
      color: var(--blinkCursor);
    }
  }

  @-o-keyframes "blink" {
    from,
    to {
      color: transparent;
    }
    50% {
      color: var(--blinkCursor);
    }
  }
</style>
