---
import Switch from "./Switch.astro";
---

<header>
  <h1>
    <a href="/">mzml</a><span class="blinking-cursor">_</span>
  </h1>
  <Switch />
</header>
<style>
  a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    font-size: 2.5rem;
  }
</style>
