---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { DEFAULT_TITLE, DEFAULT_DESC } from "../shared/constants";

const { title = DEFAULT_TITLE, description = DEFAULT_DESC } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...{ title, description }} />
  </head>
  <body>
    <Header />
    <main><slot /></main>
  </body>
</html>
